<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_DIR" value="c://project/logs" />
    <!--  스탠다드 아웃 풋 선언 : 아래 적힌 방법대로 출력해달란 의미 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <!--  파일 선언  -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/logback.log</file>
        <encoder>
            <pattern>[%d{MM-dd HH:mm:ss}] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/logback.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- 출력 상황 선언  : INFO 또는 ERROR -->
    <root level="INFO">
        <!-- level="ERROR" 로 교체하면, 에러아니고 정상일 땐 로그 출력 x. 에러일때만 출력해줘.     -->
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework.web" level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <!--
    <logger name="jdbc" level="OFF" />
	<logger name="jdbc.sqlonly" level="DEBUG" />
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="DEBUG" />
	<logger name="jdbc.resultsettable" level="DEBUG" />
	<logger name="jdbc.connection" level="OFF" />
	-->
    <!-- INFO(trace > debug > info > warn > error)  -->
</configuration>